{% load i18n %}

{% block subject %}{% trans "Восстановление пароля на сайте Образовательные материалы" %}{% endblock %}

{% block text_body %}
{% trans "Вы получили это письмо, потому что запросили восстановление пароля на сайте Образовательные материалы." %}

{% trans "Пожалуйста, перейдите по следующей ссылке и установите новый пароль:" %}

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% trans "Ссылка действительна в течение ограниченного времени." %}

{% trans "Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо." %}

{% blocktrans %}С уважением, команда сайта Образовательные материалы{% endblocktrans %}
{% endblock %}