{% extends 'sites/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div class="about-section">
    <h2>О проекте "Образовательные материалы"</h2>
    <p>Наш проект создан для учителей, преподавателей и работников образовательных организаций. Мы собираем и систематизируем качественные учебные материалы, методические пособия и разработки уроков.</p>

    <h3>Что вы найдете на сайте:</h3>
    <ul>
        <li>Конспекты уроков по всем предметам</li>
        <li>Рабочие программы (ФГОС)</li>
        <li>Презентации к урокам</li>
        <li>Сборники задач и упражнений</li>
        <li>Методические рекомендации</li>
        <li>Сценарии внеклассных мероприятий</li>
        <li>Дидактические материалы</li>
    </ul>

    <h3>Для кого этот сайт:</h3>
    <ul>
        <li>Учителя школ и гимназий</li>
        <li>Преподаватели колледжей</li>
        <li>Студенты педагогических вузов</li>
        <li>Методисты</li>
        <li>Репетиторы</li>
    </ul>

    <h3>Контакты:</h3>
    <p>Email: info@obrazovanie.ru</p>
    <p>Телефон: +7 (123) 456-78-90</p>
    <p>Адрес: г. Москва, ул. Образовательная, д. 1</p>
</div>
{% endblock %}