{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    
    {% for post in posts %}
        <div class="post-item">
            <div class="article-panel">
                <p class="first">Категория: {{ post.cat.name }}</p>
                <p class="last">Обновлено: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
            </div>
            
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" width="200" style="float: left; margin-right: 15px; border-radius: 5px;">
                    </a>
                </div>
            {% endif %}
            
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.short_description|default:post.content|truncatewords:50|linebreaks }}</p>
            
            {% with post.tags.all as tags %}
                {% if tags %}
                    <div class="tags-list">
                        <strong>Теги:</strong>
                        {% for t in tags %}
                            <a href="{% url 'tag' t.slug %}">{{ t.tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <hr style="clear: both;">
        </div>
    {% empty %}
        <p>Материалов пока нет.</p>
    {% endfor %}
{% endblock %}